<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017021673833-pojfdn1dnlju001vhepeu6meftev8k76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017021673833-pojfdn1dnlju001vhepeu6meftev8k76</string>
	<key>API_KEY</key>
	<string>AIzaSyAVu9zIloffbCfOoFA6OYSTLnsrllBJ8jU</string>
	<key>GCM_SENDER_ID</key>
	<string>1017021673833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boilerplate.app.qat</string>
	<key>PROJECT_ID</key>
	<string>MyApp-app-2b567</string>
	<key>STORAGE_BUCKET</key>
	<string>MyApp-app-2b567.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017021673833:ios:fc650dcc2185662b6d0df8</string>
</dict>
</plist>
